<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Shekelparty</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css">


</head>
<body>
  <header id="site-header">
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header"><a href="/" class="navbar-brand">Shekelparty</a>
        </div>
      </div>
    </div>
  </header>

  <main id="site-main">
    <div class="container">
      <%- body %>
    </div>
  </main>


</body>
</html>
