

<div class="jumbotron text-right">
  <h2> Get USD value of Counterparty Address </h2>
</div>

<form name="address-form" id="address-form" method="POST" action="/usdvalue">
    <div class="form-group">

        <input type="text" class="form-control" id="counterassetaddress" name="counterassetaddress" placeholder="Enter or paste Counterparty wallet address here" autofocus />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
