<form name="address-form" id="address-form" method="POST" action="/assetscounterblock">
    <div class="form-group">

        <input type="text" class="form-control" id="counterassetaddress" name="counterassetaddress" placeholder="Enter or paste Counterparty wallet address here" autofocus />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
