<div class="text-center">
    <h1>Welcome to Fiat Party!</h1>
    <br>
    <br>
    <p>Want to know the total dollar amount of assets you hold in your Counterparty-aware Bitcoin address?</p>
    <p>Click on "Find USD Amount" and enter your Counterparty address to get the USD total!</p>
    <a href="/counterblock" class="btn btn-primary btn-lg">Find USD Amount</a>
</div>
