

<div class="jumbotron text-right">
  <h2> Get USD value of Counterparty Address </h2>
</div>



<form name="address-form" id="address-form" method="POST" action="/assets">
    <div class="form-group">

        <input type="text" class="form-control" id="assetaddress" name="assetaddress" placeholder="Enter Counterparty Wallet Address" autofocus />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
